<p #status> Hi</p>
<div class="container" #status>
    <p class="display-3">Insights: </p> 
    <app-timefilters [minDate]="minDate" [maxDate]="maxDate" (getFiltered)="getFilteredData($event)"></app-timefilters>
    <app-kwfilters (groupRequest)="sendGroupRequest($event)" (updateTags)="updateTags($event)"></app-kwfilters>
    <div class="chart container border">
    <app-mylinechart [data]="linechartdata"
                    [xAxisLabel]="viewfreq_xlabel"
                    [yAxisLabel]="viewfreq_ylabel"
                    [mytitle] = "viewfreq_title"
                    ></app-mylinechart>
    </div>
    <div class="chart container border">
        <app-mylinechart [data]="daytimedata"
                        [xAxisLabel]="daytime_xlabel"
                        [yAxisLabel]="daytime_ylabel"
                        [mytitle] = "daytime_title"
        ></app-mylinechart>
    </div>
    <app-table [rows]="rows" [title]="title"></app-table>

</div>