<div class="holder" *ngIf="published">
    <!-- (click) = "changeBorderRadius()" | onclick="changeBorderRadius()" -->
    <div class="title" (click) = "toggleSnip()">
        <h2 class="chat_name" id="snippet_name" >
            #{{id}}: {{title}}
        </h2>
        <button #playpause (click)="togglePlay($event)" class="btn btn-light btn-sm" id="playpause" title="Play or pause snippet playback">
            <i *ngIf="!paused" class="fa fa-pause"></i>
            <i *ngIf ="paused" class="fa fa-play"></i>
        </button>
        <button #autoscroll (click)="toggleScroll($event)" class="btn btn-light btn-sm" id="autoscroll" title="Auto-scroll">
            <i *ngIf="keepscroll" class="fa fa-arrow-down"></i>
            <i *ngIf ="!keepscroll" class="fa fa-mouse"></i>
        </button> 
    </div>
    <div class="snip closed" #snipdiv  id="messages">
        <app-jctxtmsg *ngFor="let msg of msgs;let i = index" [data]="msg"></app-jctxtmsg>
            <div *ngIf="typing">
                <p class="{{typerclass}}">
                    {{typer}}
                </p>
                <img  class="typegif" width = "60" height = "40" src="assets/images/typing.gif"/>
            </div>
        <h2 *ngIf="end" class="end"><em>Fin.</em></h2>
    </div>
</div>