.snip{
    width:600px;
    height:600px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.snip::-webkit-scrollbar{
    width: 0 !important
}
.snip.closed{
    height: 0px;
    overflow: hidden;
}
.holder{
    border: 3px solid black;
    border-radius: 12px;
    margin:30px;
    overflow: hidden;
}
.title{
    cursor: pointer;
    background-color:#ffa759; /* #ffb859; */
    height: 51px;
    margin-bottom: 0;
    /* transition: background-color 175ms linear; */
}
#snippet_name{
    float:left;
    padding-left: 5px;
    padding-top: 3px;
    /* color: rgb(0, 70, 0); */
}
/* .title:hover {
    background-color: #ee9a50;
} */
.title:hover #snippet_name {
    font-size: 40;
    /* font-weight: 600; */
    font-family: 'Patua One', Verdana;
    /* color: rgb(0, 70, 0); */
}
.sender.mini{
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    margin: 10px;
    font-weight: bold;
    width: fit-content;
}
.giraffe{
    background-color: yellow;
}
.koala{
    background-color: #3083ff;
}
.bear{
    background-color: #FF5733;
}
.tiger{
    background-color: #eea2fa;
}
.sloth{
    background-color:darkcyan;
}
.typegif{
    margin-left: 50px;
}
.end{
    width: 100px;
    margin:auto;
    margin-bottom: 10px;
}
.btn{
    float:right;
    margin:10px;
}
.btn:focus{
    box-shadow: none;
}
.btn:hover{
    background-color: lightgreen;
    color: rgb(0, 90, 0);
}
/* .chat_name:hover{
    cursor: pointer;
} */
.end{
    font-family: Optima;
}