<p class="display-3">KYT</p>
<div class="container">
<button routerLink="/submitfile/">KnowYourTube</button>

<button routerLink="/thejungle/">Jungle Chats</button>
<button routerLink="/about/">About</button>

<p class="display-4">Disclaimer:</p>
<p> (That <em>was</em> fun to write. I feel like I am a lawyer.)</p>
<p>This site <b>does NOT</b> store any sensitive information of yours.
    <br>

    It uses analytic tools to store your general location (so I can<br>
    boast about how nearly international the visitors are) and your ip<br> 
    address to identify unique users. <b>No data has been sent</b> till now, but<br>
    your <b>ip address and city </b>will be shared if you visit any of the other<br>
    pages on this site.<br><br>
    If it's any consolation, I am an idealist undergraduate,<br>
    which is to say that I really mean it when I say that<br>
     this data <b>will not</b> be shared with anyone else.
    <br>
    <b></b>

    You have my absolute guarrantee that it
    will remain
    <br>
    <b> between me and my narcissitic evenings.</b>

</p>
</div>