<img src="assets/images/jungle-bg.jpg" style="position: fixed; z-index: -1;">

<div class="bodymain">

<div class="pagetitle">
    <h1 class="display-4" id="header">Jungle Quotes</h1>
</div>
<hr>
<br>
<p class="alert alert-info" *ngIf="waiting">Collecting Quotes from Server</p>
<div class="mainsnips">
    <app-quote *ngFor="let quote of quotes" [data]="quote"></app-quote>
</div>
<br>
<div class="footer">
    <p><i class="fa fa-copyright"></i> 2021 Jungle Chats. All rights reserved. <a [routerLink]="['/about']" style="color: rgb(0, 90, 0);">About</a></p>
</div>

</div>

