.wholequote{
    margin: 20px;
}
.quoteholder{
    font-size: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    /* margin: ; */
}
.q1{
    background-image:url('/assets/images/quotebox1.svg');
    width: 200px;
    height: 175px;
    padding: 30px;
}
.c1{    
    margin-top: -20px;
    margin-left: 140px;
}
.q2{
    background-image:url('/assets/images/quotebox2.svg');
    width: 320px;
    height: 280px;
    padding: 50px;
    padding-top: 80px;
}
.c2{
    margin-top: -20px;
    margin-left: 140px;
}
.q3{
    background-image:url('/assets/images/quotebox4.svg');
    width: 250px;
    height: 175px;
    padding: 30px;
    /* padding-top: 20px; */
}
.c3{    
    margin-top: -30px;
    margin-left: 110px;
}
.q0{
    background-image:url('/assets/images/quotebox5.svg');
    width: 200px;
    height: 175px;
    padding: 20px;
}
.c0{    
    margin-top: -30px;
    margin-left: 50px;
}
.opt{
    margin: 5px;
    padding: 8px;
}
.opt2{
    margin: 5px;
    padding-bottom: 0px;
}