.mainsnips{
    width:600px;
    margin:auto;
}
/* .bodymain{
    background-color:#ff0000;
    height:100%;
} */
:host{
    background: #fafafa;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 100;
}
.pagetitle{
    width: fit-content;
    margin:auto; 
}
.footer{
    position: absolute;
    bottom: 0;
    left: 30%;
    width:fit-content;
    margin: auto;
}
.about{
    margin-left: 30px;
}