<img src="assets/images/jungle-bg.jpg" style="position: fixed; z-index: -1;">

<div class="bodymain">

<div class="pagetitle">
    <h1 class="display-4" id="header">Welcome to Jungle Chats!</h1>
</div>
<a [routerLink]="['/quotes']" style="color: rgb(0, 90, 0);">Check out the QuoteWall!</a>
<hr>
<br>
<p class="alert alert-info" *ngIf="waiting">Collecting Chats from Server</p>
<div class="mainsnips">
    <app-snippet *ngFor="let snip of snippets" [data]="snip"></app-snippet>
</div>
<br>
<div class="footer">
    <p><i class="fa fa-copyright"></i> 2021 Jungle Chats. All rights reserved. <a [routerLink]="['/about']" style="color: rgb(0, 90, 0);">About</a></p>
</div>

</div>
