<div class="container">
    <p class="display-4">About</p>
    <hr>
    <br>
    <p *ngIf="false">
        Created By: Hardik Rajpal<br>
        Contact details: (for suggestions, queries, cuppatea?)<br>
        email: hardikraj08@gmail.com<br>
        instagram: @hardikraj_24<br>
        <br>
    </p>
    <p>
        Maintained By: Srikar D. Palmite<br>
        Contact details: (plz read my book im desperate)<br>
        email: glintingcarp@gmail.com<br>
        twitter: @glintingcarp<br>
        <br>
    </p>
    <!-- <h4 style="text-align: center;"><a href="/" style=" color: green;">Home</a></h4> -->
    <br>
    <div class="footer">
        <p><i class="fa fa-copyright"></i> 2021 Jungle Chats. All rights reserved. <a href="/" style=" color: rgb(0, 90, 0);">Home</a></p>
    </div>
</div>