body
{
    width: 60%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
:host{
    background-image: url('/assets/images/jungle-bg.jpg');
    position: fixed;
    width: 100vw;
    height: 100vh;
}