<div class="container">
<table>
    <tr>
    <td>
        <p class="display-4">Filters:</p>
    </td>

    <td>
        <div class='container border'>
    <p>On days:</p>
    <input type="date" [(ngModel)]="minDate" (change)="updateResults()">
    <br>to<br>
    <input type="date" [(ngModel)]="maxDate" (change)="updateResults()">
</div>
</td>

<td>    <div class='container border'>
    <p>On Hours:</p>
    <input type="time" [(ngModel)]="minTime" (change)="updateResults()">
    <br>to<br>
    <input type="time" [(ngModel)]="maxTime" (change)="updateResults()">
</div>
</td>
<td>
    <button (click)="filter()" class="btn-results">Filter & Tag</button>
</td>
</tr>
</table>
</div>