<div class="container">
<div class="setup">
<p class="display-4">Tags:</p>
<input type="checkbox" [(ngModel)]="checkTitle">
<label for="Title">Check Titles</label><br>
<input type="checkbox" [(ngModel)]="checkChannel">
<label for="Title">Check Channels</label><br>
<app-toggler-button [options]="['intersection', 'union']" [choice]="0"></app-toggler-button>
</div>
<br>
<div class="setup border" id="group_holder">
    <button (click)="addGroup()">Add Group</button>
    <span *ngFor="let group of taggroups;index as i;" >
    <app-tag-group  [gnum]="i" [tags_list]="group" (onadd)="update($event)"></app-tag-group>
    </span>

</div>
<button (click)="getGroupdata()">Get Results</button>
</div>