.setup.border{
    margin:5%;
}
label{
    font-size: 15px;
}
.btn-remove{
    float:right;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 10px;
}