<div>
    <h3>{{mytitle}}</h3>
    <ngx-charts-line-chart [results]="data"
    [view]="[500, 400]"
    [schemeType] = "schemeType"
    [gradient] = "gradient"
    [xAxis] = "xAxis"
    [yAxis] = "yAxis"
    [showXAxisLabel] = "showXAxisLabel"
    [showYAxisLabel] = "showYAxisLabel"
    [yAxisLabel] = "yAxisLabel"
    [xAxisLabel] = "xAxisLabel"
    [animations] = "animations"
    [showGridLines] = "showGridLines"
    [tooltipDisabled] = "tooltipDisabled"></ngx-charts-line-chart>
</div>
<!-- <ngx-charts-bar-vertical [results]="productSales"
            [schemeType] = "schemeType"
            [gradient] = "gradient"
            [xAxis] = "xAxis"
            [yAxis] = "yAxis"
            [legendTitle] = "legendTitle"
            [legendPosition] = "legendPosition"
            [legend] = "legend"
            [showXAxisLabel] = "showXAxisLabel"
            [showYAxisLabel] = "showYAxisLabel"
            [yAxisLabel] = "yAxisLabel"
            [xAxisLabel] = "xAxisLabel"
            [animations] = "animations"
            [showGridLines] = "showGridLines"
            [showDataLabel] = "showDataLabel"
            [barPadding] = "barPadding"
            [tooltipDisabled] = "tooltipDisabled"
            [roundEdges] = "roundEdges"></ngx-charts-bar-vertical> -->