.container.border{
  width: fit-content;
  height: fit-content;
  float:left;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
table td {
  font-size: 10px;
  border: 1px solid black;
  padding:6px;
  margin:10px;
  width:max-content;
}
